# Running pytest upon push to main or upon merge request in main

name: Pytest for Dingo-GW on Python 3.10

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  pytest:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
          cache: 'pip'
          cache-dependency-path: 'pyproject.toml'

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install .[dev]

      - name: Run Pytest
        run: |
          pytest --junit-xml=pytest-report.xml tests/

      - name: Upload Pytest Report
        uses: actions/upload-artifact@v4
        with:
          name: pytest-report.xml
          path: pytest-report.xml
          retention-days: 30
